 body{
    
    font-family:"Source Sans Pro", "sans-serif";
    margin: 0 auto;
   
 } 
 #header table{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #header td a{
    text-decoration: none;
    font-family:"Source Sans Pro", "sans-serif";
    font-weight: 60;
    font-size: 12px;
    color: #555555;;
 }
 #header a:hover{
     color: chocolate;
 }
 
 
 .perentdiv{
    
    /* width: 100%; */
     margin: 0 auto;
   
    padding-top: 0%;
    display: inline-block;
    box-sizing: border-box;
    
    
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* .granddiv{
    width: 99%;
    margin: auto;
 } */
.main{
    
    width: 450px;
    box-sizing: border-box;
    font-family:"Source Sans Pro", "sans-serif";
    
    padding: 0 0;

    margin: auto 35px;
    display: inline-block;
}
/* .main button {
    width: 10px;
    height: 8px;
    background: transparent;
} */

.main img{
    width: 110px;
    height: 50px;
    
}

#ramadantitel img{
    width: 100%;
    box-sizing: border-box;
    height: 600px;
    margin:auto auto;
    display: inline-block;
}
#head2 h2{
    font-family:"Source Sans Pro", "sans-serif";
    font-size: 30px;
    text-align: center;
    color: wheat;
    background: linear-gradient(to right, rgb(22, 34, 42), rgb(58, 96, 115));
    

}

 /* problem text-decoration  */
.option a{ 
    text-decoration: none;
    font-family: "Source Sans Pro", "sans-serif";
    color: #535353;
    
}
.option {
    
    font-size: 16px;
    line-height: 15px;
    text-decoration: none;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}
.option a:hover{
    color: cadetblue;
}



.ramadandivmain{
    background-image: linear-gradient(120deg,#FFFFFF,#F2D586, #BBBBBB,#F2D586,#BCBCBC,#F2D586,#EBCF9D,#BBBBBB,#BCBCBC,#FFFFFF,#FFFFFF,#FFFFFF);
    width: 100%;
    height: 450px;
    margin-left: 10px;
    margin-right: 10px;
    margin: auto;
    float: left; 
    box-sizing: border-box;
    
    
}
.ramadanspan1{
    
    font-size: 130px;
    font-family:"Source Sans Pro", "sans-serif";
    width: 50%;
}
.ramadanspan2{
    
    font-size: 110px;
    font-family:"Source Sans Pro", "sans-serif";
    
}
.ramadanspan3{
    
    font-size: 50px;
    font-family:"Source Sans Pro", "sans-serif";
    
}

.shopT div{
    
    box-sizing: border-box;
    margin:15px;
    display: inline-block;
    
}
.shopT a{
    text-decoration: none;
    font-family:"Source Sans Pro", "sans-serif";
    font-size: 14px;
    color: #555555;

}
.shopT span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clssic img{
    width: 650px;
    height: 420px;
    
    
}
.clssic div{
    
    padding: 35px;
    margin:15px 15px;
    display: inline-block;
    box-sizing: border-box;
}

.pattor img{
    width: 100%;
    box-sizing: border-box; 
    height: 300px;
    margin:0 auto;
    display: inline-block; 
}
.attor img{
       width: 200px;
       height: 200px;

}
.attor div{
    
    margin:auto 12px;
    display: inline-block;
    
}
.irani a{
    font-family: "Source Sans Pro", "sans-serif";
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #555555;
}
#iraniP{
    font-weight: bolder;
    color: black;
}
.half img{
    width: 220px;
    height: 220px;
}
.half div{
    box-sizing: border-box;
    margin:15px;
    display: inline-block;
}
.discount{
    font-size: 13px;
    color: rgba(163, 32, 32, 0.904);
    text-decoration: line-through;
}
.footerm{
    background: linear-gradient(to right, rgb(22, 34, 42), rgb(58, 96, 115));
    height: 400px;
    
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#footer div a{
    font-family: "Source Sans Pro", "sans-serif";
    text-decoration: none;
    color: wheat;
    margin: 5px 130px;
    box-sizing: border-box;
    display: inline-block;
}
.payment{
    background: linear-gradient(to right, rgb(22, 34, 42), rgb(58, 96, 115));
}
.payment img{
    width: 45px;
    height: 22px;
    cursor: pointer;
    color: #555555;
    
}
.payment p{
    font-family: "Source Sans Pro", "sans-serif";
    font-size: 18px;
    font-weight: 900;

}
.payment span{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#copyright{
    display: flex;
    justify-content: center;
    align-items:center ;
    color: wheat;
    font-family: "Source Sans Pro", "sans-serif";
    background: linear-gradient(to right, #0F2027,#2C5364);
    height: 40px;
}









/* .ramadandivmain{
    
} */

/* background-color: #535353;
    width: 150px;
    height: 150px;
    margin: 20px;
    float: left; */
    
    /* background-image: linear-gradient( right, #543C12,#795D2B,#F2D586,#EBCF9D ); */





